<div id="signup_page">

<h1>Create Your Account!</h1>

<%= form_for @new_user, url: "/users" do |f| %>
<%= f.label :username, "Username:" %>
<%= f.text_field :username %>
<%= f.label :password, "Password:" %>
<%= f.password_field :password %>
<%= f.submit "Create Account" %>
<% end %>

</div>
