<h2><%= @user.username %></h2>
<% @user.surveys.each do |sur| %>
<%= sur.title %><br>
<% if sur.creator_id == session[:user_id] %>
  <%= button_to "delete", survey_path(id: sur.id), method: :delete %>
  <%= button_to "edit", edit_survey_path(id: sur.id), method: :get%><br><br>
  <% end %>
<% end %>

<%= button_to "Logout", logout_path, method: :delete, :class => :destroy %><br><br>

<%= button_to "Delete Account", new_user_path, method: :delete, :class => :destroy %>
